$sm: 768px;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px;
  @media all and (max-width: $sm) {
    margin-bottom: 400px;
  }
}


.features {
  margin: 20px 0;
  .glyphicon {
    font-size: 32px;
  }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  color: #efefef;
  background-color: #333;
  a,a:hover {
    color: #9af7fe;
  }
  .glyphicon {
  font-size: 14px;
  margin-right: 5px;
    @media all and (max-width: $sm) {
      height: 400px;
    }
  }
  
}


.quote {
  background-color: #444;
  color: #e1e1e1;
  margin: 2em 0;
  blockquote {
    border: none;
    margin: 0;
  }
  .quote-footer {
    color: #c1c1c1;
  }
}

.transport-systems {
  .row {
    margin-bottom: 2em;
  }
  .glyphicon {
    font-size: 14px;
  }
}