$sm: 768px;
$light-blue:#d8e6f3;
$dark-blue:#204674;

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 200px;
  font-family: 'Lato', sans-serif;
  @media all and (max-width: $sm) {
    margin-bottom: 400px;
  }
}

.navbar {
    background-color: rgb(51,122,183);
    
    li.active {
        background-color: $dark-blue;
        color: $light-blue;
    }
    a {
        color: $light-blue;
        &:hover {
            color: #fff;
        }
    }
}

.navbar-toggle .icon-bar {
    background-color: $light-blue;
}
.dropdown-menu,.nav {
   >li>a,.open>a {
        &:focus,&:hover,&:active {
        background-color: $dark-blue;
        color: $light-blue;
        }
        @media all and (max-width: $sm) {
        color: $light-blue;  
       }
    }
}

.container {
  max-width: 960px;
}

.well {
    background-color: transparent;
}

.lead {
    color:#555;
}

.btn-lg {
    padding: 14px 20px;
    margin-right: 20px;
}

.features {
  margin: 20px 0;
  .glyphicon {
    font-size: 32px;
  }
}

.tab-content {
    border: 1px solid #ddd;
    border-top: none;
    border-radius: 0 0px 5px 5px;
    min-height: 180px;
    margin-bottom: 20px;
    .tab-pane {
        padding: 10px;
        color: #555;
    }
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 200px;
  color: #efefef;
  background-color: #333;
  
  a,a:hover {
    color: #9af7fe;
  }

  .glyphicon {
  font-size: 14px;
  margin-right: 5px;
  }

  @media all and (max-width: $sm) {
      height: 400px;
  }
  
}


.quote {
  background-color: #444;
  color: #e1e1e1;
  margin: 2em 0;
  blockquote {
    border: none;
    margin: 0;
  }
  .quote-footer {
    color: #c1c1c1;
  }
}

.transport-systems {
  .row {
    margin-bottom: 2em;
  }
  .glyphicon {
    font-size: 14px;
  }
}